body{
    text-align: center;
}
button{
    border-radius: 50%;
      font-size: 26px;
    width:60px;
    height: 60px;
    margin:1px;
    border:none;
   cursor: pointer;
   
}
.display
{
    padding-top: 20px;
    color:white;
    font-size: 40px;
    height:165px;
    width:300px;
   
   
}
.special
{
    color: black;
    background-color: grey;
}
.operator
{
    color:white;
    background-color: rgb(255, 153, 0);
}
.number
{
    color:white;
    background-color: rgb(37, 37, 37);
}
.row
{
    padding:5px;
}
.container
{
  border-radius: 10px;
   display:inline-block;
   width: 300px;
   height: 550px;
    background-color: black;
}